appdirs==1.4.3
attrs==18.1.0
black==18.5b0
click==6.7
Django==2.0.3
django-filter==2.0.0
djangorestframework==3.8.2
more-itertools==4.1.0
pluggy==0.6.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
py==1.5.3
pytest==3.5.1
pytest-django==3.2.1
pytz==2018.3
six==1.11.0
