appdirs==1.4.3
appnope==0.1.0
attrs==18.1.0
backcall==0.1.0
black==18.5b0
click==6.7
decorator==4.3.0
Django==2.1.2
django-filter==2.0.0
djangorestframework==3.8.2
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
more-itertools==4.1.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pluggy==0.6.0
prompt-toolkit==2.0.6
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.6.0
py==1.5.3
Pygments==2.2.0
pytest==3.5.1
pytest-django==3.2.1
pytz==2018.3
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
spacy==2.0.17