.container {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 25rem) minmax(auto, 45rem) minmax(auto, 25rem) minmax(1rem, 1fr);
    grid-gap: 1.5rem;
    margin-top: 3.375rem;
}

.events {
    grid-column: 2;
}

.events, main, .aside--2 {
    display: grid;
    grid-template-rows: 3.375rem 1fr;
    grid-gap: 1.5rem;
} 

.main { grid-column: 3;}

.aside--3 {
    grid-column: 4;
}

.events__title {
    font-size: 1rem;
    color: #3d3d3d;
    grid-row: 2;
}

.dashboard {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 1.5fr;
}

.dashboard__item {
    background: #f3f3f3;
    padding: 1rem;
    height: 250px;
}

.dashboard__item--small {grid-column: 1;}
.dashboard__item--medium { grid-column: 2}
.dashboard__item--large { grid-column: 1/3;}
